// scss-lint:disable ColorVariable

%button {
  background: $white;
  color: $black;
  padding: 5px 12px 4px;
  border: 1px solid #C0C0C0;
  border-radius: 4px;
  font-size: 13px;
  cursor: default;
  vertical-align: middle;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
  -webkit-app-region: no-drag;

  &:active {
    background: linear-gradient(180deg, #4C98FE, #0564E3);
    color: $white;
    border-color: #003DDB;
  }
}
